/*Tells the browser this is styleing the body.*/
main {
  /*Sorry I know this CSS is kinda self explanitary but comments might help.*/
font-family: 'Odibee Sans';
  /*Tells the browser what fonts to use.*/
margin-left: auto;
margin-right: auto;
  /*Tells the browser the margins.*/
max-width: 1080px;
  /*Tells the browser the max width.*/
padding-top: 8px;
padding-bottom: 24px;
padding-left: 20px;
padding-right: 24px;
  /*Tells the browser how much space in from the sides should the stuff go.*/
} 
