/*tells the browser this is styleing the body*/
body {
  /*sorry I know the CSS is kinda self explanitary but it might help*/
font-family: sans-serif;
  /*tells the browser what fonts to use*/
margin-left: auto;
margin-right: auto;
  /*tells the browser the margins*/
max-width: 1080px;
  /*tells the browser the max width*/
padding-top: 8px;
padding-bottom: 24px;
padding-left: 20px;
padding-right: 24px;
  /* tells the browser how much space in from the sides should the stuff go*/
} 
